html, body, h1, h2, p
  margin: 0
  padding: 0
  box-sizing: border-box

body
  overflow-x: hidden

h1, h2, h3
  font-family: 'Abril Fatface'
  font-weight: 400

body, p, span
  font-family: Niramit, sans-serif

.headbar
  background-color: #323c44
  // height: 32px
  width: 100%
  & h1
    font-size: 14pt
    color: #f2f2f2
    padding: 10px 0 10px 25px
    line-height: 45px

.cards
  margin-left: 15px
  & .card
    margin-bottom: 10px
    margin-top: 5px;
    padding: 15px
    width: 30vw
    border-radius: 2px
    transition: border 0.3s, box-shadow 0.3s
    border: 1px solid #aaa0
    opacity: 0
    animation: 1s fadein forwards
    &:hover
      border: 1px solid #aaa
      box-shadow: 3px 4px 11px #b5b5b5
    &:active
      border: 1px solid #bbb
      box-shadow: 3px 4px 8px #d0d0d0
  & h2
    font-size: 20pt

@keyframes fadein
  0%
    opacity: 0
  100%
    opacity: 1

.noselect
  user-select: none
  -moz-user-select: none
  -webkit-user-select: none

.pre-el
  color: #ce634e

.at-el
  color: #4f6abc

.post-el
  color: #79a556

.meta-el
  color: #323c44

.sourcedisplay
  display: none
  & .source
    width: 100%
    margin-top: 10px
    padding-top: 10px
    padding-left: 20px
    background-color: #bbb
    border-top: 1px solid #888
    border-bottom: 1px solid #888
    & img
      margin: 10px
  & .caption
    margin-left: 20px
    & p
      max-width: 72vw
  & > h3
    margin: 10px 0 0 25px
  & .sourcetext
    max-width: 72vw

.sourcedisplay h2, h1.slide
  position: relative
  display: inline-block
  font-size: 3rem
  margin: 0px 0 15px 25px
  &::before
    position: absolute
    top: 0
    left: 0
    width: 200%
    height: 100%
    background-image: linear-gradient(90deg, #fff0 10%, #fff 50%)
    //animation: slide 3s forwards
    content: ''

.sourcedisplay > h2.slide-now::before, h1.slide.slide-now::before
  animation: slide 3s forwards

h1.slide
  margin-left: 0
  margin-top: 10px

.loading
  position: fixed
  top: 0
  left: 0
  height: 100vh
  width: 100vw
  background-color: #eee
  transition: z-index 0.25s, opacity 0.25s
  opacity: 0
  z-index: -5
  &.active
    opacity: 1
    z-index: 5

@keyframes slide
  0%
    transform: translateX(-50%)
  100%
    transform: translateX(100%)

a, a:visited
  color: #4f6abc
