html,
body,
h1,
h2,
p {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  overflow-x: hidden;
}
h1,
h2,
h3 {
  font-family: 'Abril Fatface';
  font-weight: 400;
}
body,
p,
span {
  font-family: Niramit, sans-serif;
}
.headbar {
  background-color: #323c44;
  width: 100%;
}
.headbar h1 {
  font-size: 14pt;
  color: #f2f2f2;
  padding: 10px 0 10px 25px;
  line-height: 45px;
}
.cards {
  margin-left: 15px;
}
.cards .card {
  margin-bottom: 10px;
  margin-top: 5px;
  padding: 15px;
  width: 30vw;
  border-radius: 2px;
  transition: border 0.3s, box-shadow 0.3s;
  border: 1px solid rgba(170,170,170,0);
  opacity: 0;
  animation: 1s fadein forwards;
}
.cards .card:hover {
  border: 1px solid #aaa;
  box-shadow: 3px 4px 11px #b5b5b5;
}
.cards .card:active {
  border: 1px solid #bbb;
  box-shadow: 3px 4px 8px #d0d0d0;
}
.cards h2 {
  font-size: 20pt;
}
.noselect {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}
.pre-el {
  color: #ce634e;
}
.at-el {
  color: #4f6abc;
}
.post-el {
  color: #79a556;
}
.meta-el {
  color: #323c44;
}
.sourcedisplay {
  display: none;
}
.sourcedisplay .source {
  width: 100%;
  margin-top: 10px;
  padding-top: 10px;
  padding-left: 20px;
  background-color: #bbb;
  border-top: 1px solid #888;
  border-bottom: 1px solid #888;
}
.sourcedisplay .source img {
  margin: 10px;
}
.sourcedisplay .caption {
  margin-left: 20px;
}
.sourcedisplay .caption p {
  max-width: 72vw;
}
.sourcedisplay > h3 {
  margin: 10px 0 0 25px;
}
.sourcedisplay .sourcetext {
  max-width: 72vw;
}
.sourcedisplay h2,
h1.slide {
  position: relative;
  display: inline-block;
  font-size: 3rem;
  margin: 0px 0 15px 25px;
}
.sourcedisplay h2::before,
h1.slide::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 200%;
  height: 100%;
  background-image: linear-gradient(90deg, rgba(255,255,255,0) 10%, #fff 50%);
  content: '';
}
.sourcedisplay > h2.slide-now::before,
h1.slide.slide-now::before {
  animation: slide 3s forwards;
}
h1.slide {
  margin-left: 0;
  margin-top: 10px;
}
.loading {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: #eee;
  transition: z-index 0.25s, opacity 0.25s;
  opacity: 0;
  z-index: -5;
}
.loading.active {
  opacity: 1;
  z-index: 5;
}
a,
a:visited {
  color: #4f6abc;
}
@-moz-keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes slide {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(100%);
  }
}
@-webkit-keyframes slide {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(100%);
  }
}
@-o-keyframes slide {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(100%);
  }
}
@keyframes slide {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(100%);
  }
}
